@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body{
   background-image: url(../images/Background.png);
   background-repeat: repeat-y;
   background-size: cover;
   background-position: center;
   min-height: 100vh;
   margin: 0;
   padding: 0;

}
img.GWCLogo{
	position: absolute;
	width: 139px;
	height: 133px;
	left: 125px;
	top:-5px;
 }


/* Natigation */

/* Picture Logo */
.pic-logo {
   width: 140px;
   height: 120px;
   margin-left: 110px;
}

.posts {
   padding-bottom: 80px;
 }

nav a {
   position: relative;
   text-decoration: none;
   color: #303030;
   font-family: 'Courier Prime', monospace;
   font-size: 28px;
}

nav a::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: -3px;
   width: 0%;
   height: 2px;
   background-color: #B070D8;
   transition: width 0.3s ease-in-out;
}

nav a:hover::after {
   width: 100%;
}

#about {
   position: absolute;
   width: 130px;
   height: 77px;
   left: 390px;
   top: 23px;

   display: flex;
   align-items: center;
}

#event {
   position: absolute;
   width: 231px;
   height: 77px;
   left: 520px;
   top: 23px;

   display: flex;
   align-items: center;
   font-weight: bold;
}

#student-project {
   position: absolute;
   width: 276px;
   left: 650px;
   top: 45px;
}

#gallery {
   position: absolute;
   width: 276px;
   height: 77px;
   left: 950px;
   top: 45px;
}

#contact{
   position: absolute;
   width: 330px;
   height: 77px;
   left: 1120px;
   top: 45px;
}


hr {
   position: absolute;
   width: 1251px;
   height: 0px;
   left: 123px;
   top: 125px;
   border: 2px solid #78569B;
}

/* Girls Who Code at UCF description Section */

h1 {

   font-family: 'Courier Prime', monospace;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   font-size: 40px;
   text-align: center;
   color: #303030;
}

h2 {
   font-family: 'Courier Prime', monospace;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   font-size: 30px;
   text-align: center;
   color: #303030;
   font-style: italic;
}

p{
   font-family: 'Courier Prime', monospace;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   font-size: 20px;
   font-style: italic;
}

.becomeMember{
   padding-top: 150px;
}

button{
   border-radius: 15px;
   width: 250px;
   height: 65px;
   left: 290px;
   top: 650px;
   background: #B070D8;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   color: #F1F1F1;
   margin: auto;
}

button a{
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   color: #F1F1F1;
   text-decoration: none;
}

footer{
   margin-top: 100px;
   align-content: center;
   text-align: center;
}

footer a{
   text-decoration: none;
   color: #303030;
   font-family: 'Courier Prime', monospace;
}
