@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    color: black;
}

img.GWCLogo {
    position: absolute;
    width: 139px;
    height: 133px;
    left: 125px;
    top: -5px;
}

.about {
    width: 130px;
    height: 77px;
    left: 363px;
    position: absolute;
    top: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: black;
}


/* Natigation */


/* Picture Logo */

.pic-logo {
    width: 140px;
    height: 120px;
    margin-left: 110px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;
    /* Keeps navbar on top */
    position: fixed;
    width: 100%;
    z-index: 20;
    position: sticky;
    margin-top: 50px;
}

.navbar-menu {
    display: flex;
    font-size: 40px;
    list-style-type: none;
    margin-right: 30px;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
}

.nav-item {
    margin-left: 30px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 10px 15px;
}

.nav-link:hover {
    color: #FFD700;
}

#about {
    position: absolute;
    width: 130px;
    height: 77px;
    top: 23px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
}

#event {
    position: absolute;
    width: 231px;
    height: 77px;
    top: 23px;
    display: flex;
    align-items: center;
}

#student-project {
    position: absolute;
    width: 276px;
    top: 45px;
}

#gallery {
    position: absolute;
    width: 276px;
    height: 77px;
    top: 45px;
}

#contact {
    position: absolute;
    width: 330px;
    height: 77px;
    top: 45px;
    font-weight: bold;
}


/*Intro Section*/

.intro-section {
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-trim: 50px;
}

.text-section {
    width: 45%;
}

.image-section {
    width: 45%;
}


/* Circle Color Area */

.circle {
    display: flex;
    gap: 2em;
    margin: 2em;
}

.purpleTopLeft {
    position: absolute;
    width: 509px;
    height: 484.87px;
    left: -130px;
    top: 200px;
    background: rgba(197, 181, 223, 0.7);
    filter: blur(110px);
    transform: rotate(-44.52deg);
}

.blueRight {
    position: absolute;
    width: 618.75px;
    height: 626.52px;
    left: 860.38px;
    top: 300px;
    background: rgba(147, 238, 248, 0.5);
    filter: blur(108.5px);
    transform: rotate(-44.52deg);
    border-radius: 50%;
}

.greenMiddle {
    position: absolute;
    width: 605.73px;
    height: 613.33px;
    left: -240px;
    top: 981.68px;
    background: rgba(206, 235, 161, 0.6);
    filter: blur(108.5px);
    transform: rotate(-44.52deg);
    border-radius: 50%;
}

.purpleBottomLeft {
    position: absolute;
    width: 777.41px;
    height: 740.55px;
    left: 465px;
    top: 1526.06px;
    background: rgba(197, 181, 223, 0.7);
    filter: blur(108.5px);
    transform: rotate(-44.52deg);
}


/*hr {
    position: absolute;
    width: 1251px;
    height: 0px;
    left: 123px;
    top: 119px;
    border: 2px solid #78567B;
}
*/


/* Girls Who Code at UCF description Section */

h1 {
    margin: 30px;
    position: relative;
    font-size: 40px;
    display: flex;
    color: black;
}

#paragraph {
    margin: 30px;
    position: relative;
    left: 0;
    top: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: black;
}


/* Group Picture Section */

#group-pic {
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    filter: drop-shadow(25px 25px 0px #CEEBA1);
}

button {
    border-radius: 15px;
    position: absolute;
    width: 250px;
    height: 65px;
    left: 290px;
    top: 650px;
    background: #B070D8;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #F1F1F1;
    z-index: 1;
}


/* Why Join Us Section */

#WhyJoinUs {
    position: absolute;
    width: 573px;
    height: 65px;
    left: 461.56px;
    top: 818px;
    font-weight: 400;
    font-size: 50px;
    line-height: 56px;
    text-align: center;
    color: #303030;
}

button a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #F1F1F1;
    text-decoration: none;
}

.checkbox {
    margin: 200px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
}

h3 {
    margin: 30px 30px;
    width: 216.14px;
    height: 70.22px;
    top: 990.86px;
    font-size: 22px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.join-us-text {
    color: #F1F1F1;
}

.join-subtext {
    color: #F1F1F1;
    margin: 15px 15px;
    font-size: 20px;
    padding: 1px 20px;
}


/*boxes*/


/* Common styles for all boxes */

.box1,
.box2,
.box3,
.box4 {
    position: relative;
    width: 22%;
    height: 258.1px;
    border-radius: 15px;
}


/* Common styles for all box images */

.box1 img,
.box2 img,
.box3 img,
.box4 img {
    margin: 0 auto;
    display: flex;
    align-items: center;
}


/* Individual box styles */

.box1 {
    background: #B070D8;
    filter: drop-shadow(-15px 15px 0px #DFA4E4);
}

.box2 {
    background: #6F52D5;
    filter: drop-shadow(-15px 15px 0px #C5B5DF);
}

.box3 {
    background: #B070D8;
    filter: drop-shadow(-15px 15px 0px #DFA4E4);
}

.box4 {
    background: #6F52D5;
    filter: drop-shadow(-15px 15px 0px #C5B5DF);
}


/* Text styles */

.two {
    padding: 1px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 23px;
    word-spacing: 3px;
    color: #f1f1f1;
}


/* Events & Exec Board */


/* Past Events */

.events h1 {
    font-weight: 400;
    text-align: center;
    padding-left: 330px;
}

.scrolling-events {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.event {
    flex: 0 0 auto;
}

#event-1 {
    box-shadow: 10px 10px #dfa4e4;
}

#event-2 {
    box-shadow: 10px 10px #B1C7A5;
}

#event-3 {
    box-shadow: 10px 10px #6F52D5;
}

.event img {
    width: 412px;
    height: 412px;
    border-radius: 20px;
    margin: 12px;
}


/** Executive Board**/

.board {
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
}

.board p+p {
    margin-top: -20px;
}

.board h1 {
    font-weight: lighter;
    text-align: center;
}

.board-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 40px;
}

.b-member {
    width: 267.3px;
    height: 347.3px;
    border-radius: 15px;
    padding: 20px;
    flex-shrink: 0;
    gap: 15px;
    padding: 20px;
    /* Keeps the width fixed */
}

.b-member img {
    width: 208.8px;
    height: 190.75px;
}

.name {
    color: #303030;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.position {
    color: #78567B;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.one {
    border: 4px solid #78567b;
    background-color: #DFA4E4;
    box-shadow: -10px 10px #78567b;
}

.two {
    border: 1px solid #656B5A;
    background-color: #CEEBA1;
    box-shadow: -10px 10px #656B5A;
}

.three {
    border: 4px solid #446A60;
    background-color: #9FF8E1;
    box-shadow: -10px 10px #446A60;
}

.four {
    border: 4px solid #446A60;
    background-color: #9FF8E1;
    box-shadow: -10px 10px #446A60;
}

.five {
    border: 4px solid #78567b;
    background-color: #DFA4E4;
    box-shadow: -10px 10px #78567b;
}


/* Section Title */

h1 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 56px;
    text-align: center;
    color: black;
}


/*Names*/

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #303030;
}


/*Roles*/

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #656B5A;
}


/*Majors*/

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: black;
}

.pics {
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.card {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 40px;
    margin-bottom: 100px;
}

.card h2 {
    font-size: 20px;
    text-align: center;
}

.card h3 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-top: 5px;
    line-height: 1.5;
    text-align: center;
}

.Card1 {
    /*left: 98px;
    top: 3538px; */
    background: #CEEBA1;
    border: 4px solid #656B5A;
    text-align: center;
    /*margin: 20px;
    max-width: 421px;
    max-height: 500px;*/
}

.Card2 {
    /*position: absolute;*/
    background: #9FF8E1;
    text-align: center;
    border: 4px solid #446A60;
}

.Card3 {
    /*position: absolute;*/
    top: 3538px;
    */ background: #DFA4E4;
    border: 4px solid #78567B;
}


/*social media logos*/

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

footer a {
    text-decoration: none;
    color: #303030;
    font-family: 'Courier Prime', monospace;
}


/*background
arrows
boxes around each person's card*/