/* Section Title */
h1{font-family: 'Courier Prime';
    font-style: italic;
    font-weight: 400;
    font-size: 50px;
    line-height: 56px;
    text-align: center;
    color: #303030;
}

/*Names*/
h2{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #303030;
}

/*Roles*/
h3{font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #656B5A;
}

/*Majors*/
p{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #303030;
}

.pics{width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;}

.Card1{box-sizing: border-box;
    /*position: absolute;*/
    width: 401px;
    height: 521px;
    /*left: 98px;
    top: 3538px; */
    background: #CEEBA1;
    border: 4px solid #656B5A;
    border-radius: 15px;
}

.Card2{box-sizing: border-box;
    /*position: absolute;*/
    width: 401px;
    height: 521px;
    /*left: 545px;
    top: 3538px;*/
    background: #9FF8E1;
    border: 4px solid #446A60;
    border-radius: 15px;
}

.Card3{box-sizing: border-box;
    /*position: absolute;*/
    width: 401px;
    height: 521px;
    /*left: 994px;
    top: 3538px;*/
    background: #DFA4E4;
    border: 4px solid #78567B;
    border-radius: 15px;
}

div{
    margin: 20px;
    max-width: 421px;
    max-height: 500px;
    display: inline-block;

}



/*background
social media logos
arrows
boxes around each person's card*/

