@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

img.GWCLogo{
	position: absolute;
	width: 139px;
	height: 133px;
	left: 125px;
	top:-5px;
 }

 body {
   overflow-x: hidden;
 }

/* Natigation */

/* Picture Logo */
.pic-logo {
   width: 140px;
   height: 120px;
   margin-left: 110px;
}

a{
   text-decoration: none;
   color: #303030;
   font-family: 'Courier Prime', monospace;
   font-size: 28px;
}

#about {
   position: absolute;
   width: 130px;
   height: 77px;
   left: 390px;
   top: 23px;

   display: flex;
   align-items: center;
}

#event {
   position: absolute;
   width: 231px;
   height: 77px;
   left: 520px;
   top: 23px;

   display: flex;
   align-items: center;
}

#student-project {
   position: absolute;
   width: 276px;
   left: 650px;
   top: 45px;
  text-decoration-line: underline;
}

#gallery {
   position: absolute;
   width: 276px;
   height: 77px;
   left: 950px;
   top: 45px;
}

#contact {
   position: absolute;
   width: 330px;
   height: 77px;
   left: 1120px;
   top: 45px;
   font-style:italic;
}

/* Circle Color Area */

.circle {
   display: flex;
   gap: 2em;
   margin: 2em;
}

.purpleTopLeft {
   position: absolute;
   width: 509px;
   height: 484.87px;
   left: -130px;
   top: 200px;
   
   background: rgba(197, 181, 223, 0.7);
   filter: blur(110px);
   transform: rotate(-44.52deg);
}

.blueRight {
   position: absolute;
   width: 618.75px;
   height: 626.52px;
   left: 860.38px;
   top: 300px;
   background: rgba(147, 238, 248, 0.5);
   filter: blur(108.5px);
   transform: rotate(-44.52deg);
   border-radius: 50%;
}

.greenMiddle {
   position: absolute;
   width: 605.73px;
   height: 613.33px;
   left: -240px;
   top: 981.68px;

   background: rgba(206, 235, 161, 0.6);
   filter: blur(108.5px);
   transform: rotate(-44.52deg);
   border-radius: 50%;
}

.purpleBottomLeft {
   position: absolute;
   width: 777.41px;
   height: 740.55px;
   left: 465px;
   top: 1526.06px;
   
   background: rgba(197, 181, 223, 0.7);
   filter: blur(108.5px);
   transform: rotate(-44.52deg);     
   z-index: -1;           
}

hr{
   position: absolute;
   width: 1251px;
   height: 0px;
   left: 123px;
   top: 119px;
   border: 2px solid #78567B;
}

/* Girls Who Code at UCF description Section */

h1 {

   position: relative;
   left: 25%;
   font-family: 'Courier Prime', monospace;
   font-size: 40px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #303030;
}

#paragraph {
   position: absolute;
   width: 573px;
   height: 295px;
   left: 150px;
   top: 280px;
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 23px;
   color: #303030;

}

/* Group Picture Section */

#group-pic {
   box-sizing: border-box;
   position: absolute;
   width: 590px;
   height: 374px;
   left: 788px;
   top: 222px;
   border-radius: 5px;
   filter: drop-shadow(25px 25px 0px #CEEBA1);
}

button{

   border-radius: 15px;
   position: absolute;
   width: 250px;
   height: 65px;
   left: 290px;
   top: 650px;
   background: #B070D8;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   color: #F1F1F1;
}

.semester-title {
   font-size: 30pt;
   text-align: center;
   font-family: 'Courier Prime', monospace;
   font-style: italic;
}

.project {
   display: flex;
   margin-top: 100px;
}

.project-img {
   width: 40%;
   position: relative;
   justify-content: center;
   display: flex;
}

.project-logo{
   border-radius: 10px;
}

img {
   height: 350px;
   width: 350px;
   z-indeX: 99;
}

.img-background {
   position: absolute;
   width: 350px;
   height: 350px;
   background-color: #6f52d5;
   z-index: 0;
   transform: translate(10px, 10px);
   border-radius: 10px;
}

.project-desc {
   margin-inline: 1%;
   padding-inline: 5%;
   width: 50%;
   text-align: center;
   font-family: 'Courier Prime', monospace;
   font-size: 18pt;
   display: flex;
   flex-direction: column;
   height: 350px;
   justify-content: space-between;
   z-index: 999;
}

.project-link a{
   text-decoration: underline;
   font-size: 16pt;
   color: black;
   font-family: 'Courier Prime', monospace;
}

.future-projects-title {
   margin-top: 6em;
   font-size: 30pt;
   text-align: center;
   font-family: 'Courier Prime', monospace;
   position: relative;
   z-index: 999;
}

.pin-board {
   display: flex;
   align-items: center;
}

.board-back {
   position: relative;
   width: 80%;
   height: 1500px;
   background-color: #c69a68;
   left: 10%;
   margin-top: 12em;
   border-radius: 4%;
}

.board-front {
   position: absolute;
   width: 70%;
   height: 1200px;
   background-color: #f6d3a8;
   left: 15%;
   margin-top: 12em;
}

.board-front img {
   position: relative;
   z-index: 99;
   height: 350px;
   width: 350px;
}

#fp-1 {
   transform: rotate(8deg);
   left: 17%;
   top: 10%;
}

#fp-2 {
   transform: rotate(-4deg);
   left: 32%;
   top: 17%;
}

#fp-3 {
   transform: rotate(10deg);
   left: -60%;
   top: 50%;
}

#fp-4 {
   transform: rotate(-3deg);
   left: 40%;
   top: 58%;
}

#fp-5 {
   transform: rotate(-30deg);
   left: 41%;
   top: 34%;
}

footer{
   margin-top: 100px;
   align-content: center;
   text-align: center;
}
